@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat/montserrat_montserratbold.ttf');
}

@font-face {
    font-family: 'Roboto-number';
    src: url('../fonts/Roboto/roboto_medium_numbers.ttf');
}

* {
    font-family: 'Montserrat-bold', sans-serif;
}

:root {
    --main-bg-color: #55730e;
}

.number {
    font-family: 'Roboto-number', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--main-bg-color);
    padding: 30px;
}

header img {
    height: 85px;
}

main {
    background-color: white;
    border-radius: 20px;
    transition: all 1s;
}

.green {
    color: var(--main-bg-color);
}

.back-arrow {
    height: 43px;
    width: 43px;
    transition: background-color 1s;
    border-radius: 50%;
}

.back-arrow:hover {
    background-color: rgba(158, 155, 155, 0.479);
}

.theme {
    height: 43px;
    width: 43px;
    transition: all 1s;
    border-radius: 50%;
}

.theme:hover {
    background-color: rgba(158, 155, 155, 0.479);
}